.confidence {
    display: inline-block;
    padding: 0 .5em;
    margin-top: 0.5em;
}

.related-record {
    border: 1px dotted #DEDEDE;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(249, 246, 255, 0.10);
}

table {
    margin-bottom: 2em;
}

td {
    padding-right: 1em;
}