.confidence {
    display: inline-block;
    background-color: lawngreen;
    padding: 0 .5em;
    border-radius: 3px;
    margin-top: 0.5em;
}

table {
    margin-bottom: 2em;
}

td {
    padding-right: 1em;
}